.dashboard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;

    width: 100%;
    height: calc(100% - 60px - 15px);

    border-radius: var(--borderRadius02);

    position: relative;
    overflow: hidden;
}