.dashboard {
    background: var(--colorWhiteTransparent50);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    border: 1px solid var(--colorWhiteTransparent50);
    border-radius: var(--borderRadius02);

    overflow: hidden;
}